header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative; /* faz a div ter uma posicção relativa no navegador */
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute; /*faz a posição ser absoluta dentro da div que ele está, ou seja, você consegue posicionar onde quiser dentro dessa div*/
    top: 110px;
    right: 0;
}

nav li { /* tudo da tag nav que está dentro da linha da lista */
    display: inline; /*deixa os itens da navegação (navbar) alinhados um do lado do outro*/
    margin: 0 0 0 15px; /* aumenta o espaçamento (margem) entre os itens da lista*/
}

nav a {
    text-transform: uppercase; /* faz todos os textos dentro da tag nav dentro da tag âncora ficarem maiúsculos */
    color: #000000;
    font-weight: bold; /* o "peso" da fonte é em negrito (bold)*/
    font-size: 22px;
    text-decoration: none; /* retira o sublinhado que existe no hyperlink*/
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;    
}

/* hover significa um comportamento do elemento somente quando o mouse estiver sobre ele */
.produtos li:hover h2 { 
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}