header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li { /* tudo da tag nav que está dentro da linha da lista */
    display: inline; /*deixa os itens da navegação (navbar) alinhados um do lado do outro*/
    margin: 0 0 0 15px; /* aumenta o espaçamento (margem) entre os itens da lista*/
}

nav a {
    text-transform: uppercase; /* faz todos os textos dentro da tag nav dentro da tag âncora ficarem maiúsculos */
    color: #000000;
    font-weight: bold; /* o "peso" da fonte é em negrito (bold)*/
    font-size: 22px;
    text-decoration: none; /* retira o sublinhado que existe no hyperlink*/
}