body {
    font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
    width:40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px; /*borda arredondada no botão*/
    transition: 1s all; /*quando o mouse passa sobre o botão, a transição de cor e de tamanho (all) dura 1seg */
    cursor: pointer; /* faz aparecer uma mão (cursor do mouse) quando passa sobre o botão de enviar */
}

.enviar:hover {
    background: darkorange; /*quando o mouse passa sobre o botão, fica laranja escuro*/
    transform: scale(1.2); /*quando o mouse passa sobre o botão, tamanho aumenta em 20%*/
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* css da página inicial */

.banner {
	width:100%
}

.titulo-principal {
	text-align:center;
	font-size: 2em;
	margin: 0 0 1em;
	clear:left;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
	margin: 0 0 1em
}

.principal strong {
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

.utensilios{
	width: 120px;
	float:left;
	margin: 0 20px 20px 0; /* cima, direita, baixo, esquerda*/
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888); /* gradiente de cores, ficar degradê */
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
    line-height: 1.5; /* altura da linha */
}

.itens:first-child { 
    font-weight: bold; 
}

/* first child faz o primeiro item da lista ter certo estilo
first child é um pseudo elemento 
existe também o last child, para o último item de uma lista
.itens:nth-child(4) confere estilo ao quarto elemento da lista
.itens:nth-child(3) confere estilo ao terceiro elemento da lista
.itens:nth-child(5) confere estilo ao quinto elemento da lista
.itens:nth-child(2n) pega todos os elementos pares da lista
E assim por diante */

.imagem-beneficios {
	width: 60%;
}

.video {
	width: 560px;
	margin: 2em auto;
}

/*


main > p  usado para selecionar todos os parágrafos filhos de main
section + p seleciona somente o primeiro parágrafo que vem após o section
div ~ p seleciona todos os parágrafos que vem após o div

> para pegar elementos filhos diretos
+ para pegar o elemento que vem logo após, ou seja, elementos irmãos diretos
~ pega todos aqueles elementos que vem logo após, todos os irmãos diretos

.principal p:not(#missao) serve para selecionar todos os parágrafos dentro da classe
principal que não possuem o id missao

========================================================================================

Seletores avançados CSS

Seletor >, para acessar os filhos de determinado elemento. 
Por exemplo, para acessar todos os p dentro de main:
main > p {
}

Seletor +, para acessar o primeiro irmão de determinado elemento. 
Por exemplo, para acessar o primeiro p após um img:
img + p {
}

Seletor ~, para acessar todos os irmãos de determinado elemento. 
Por exemplo, para acessar todos os p após um img:
img ~ p {
}

Seletor not, para acessar os elementos, exceto algum. 
Por exemplo, para acessar todos os p dentro de main, exceto o p que tem id missao:
main p:not(#missao) {
}

Como fazer contas com CSS, com a propriedade calc

Como usar as medidas proporcionais para deixar um elemento de 100% de largura com o 
equivalente a um terço do elemento pai, menos 10px?

width: calc( (100% / 3) - 10px )

ou

width: calc( 33% - 10px )


*/
