body {
  
}

.principal{
    background: #CCCCCC;
    padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

#banner {
    width: 100%;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong { /* todas as tags strong dentro de tags em */
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}


ul {
    display: inline-block; /* faz a imagem e o texto ficarem um ao lado do outro */
    vertical-align: top; /* os elementos ficam alinhados pelo linha de cima */
    width: 20%; /* largura da lista */
    margin-right: 15%; /* da uma margem externa para a lista, deixando ela afastada da imagem */
}

.imagembeneficios {
    width: 50%;
}

/* Hexadecimal 0123456789ABCDEF
0 = ausência de cor
F = máximo de cor

RGB Red Bue Yellow
0,1,2,3, ...... 255
0 = ausência
255 = máximo

Representar o Branco rgb(255,255,255)
Representar o Azul rgb(0,0,255)
Vermelho é rgb(255,0,0)
Verde é rgb(0,255,0)

*/

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}